@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

* {
    border: 0;
    padding: 0;
    margin: 0;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
  }


/* body */
body {
    background-color: var(--body-bg-color);
    height: 100vh;
    
    display: grid;
    grid-template-areas:
        "cards jobs"
        "footer";

    grid-template-rows: 1fr 32px;
    grid-template-columns: 30% 70%;
}


/* cards */
section.cards {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 8vh;
}

div.card {
    color: var(--text-color);
    background-color: var(--bg-cards);

    width: 25vw;
    height: auto;

    margin-bottom: 3%;
    padding: 1%;
    border-radius: 8px;
}




/* jobs */
section.jobs {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 8vh;
}

div.job {
    color: var(--text-color);
    background-color: var(--bg-cards);
    width: 65vw;
    height: auto;

    margin-bottom: 3%;
    padding: 1%;
    border-radius: 8px;
}


/* footer */
footer {
    width: 100vw;
    text-align: center;

    color: var(--text-color);
}
